<img src='img/logo_top.jpg'>
<p>Contact: <ul><li><a href="mailto:hugo.pierre@devinci.fr">hugo.pierre@devinci.fr</a>.</li><li> <a href="mailto:hugo.pousseur@devinci.fr">hugo.pousseur@devinci.fr</a>.</li></ul></p>
 