<center><img src='img/logo_top.jpg'></center>


<center>
    <nav>
        <a href="/" title="ACCUEIL"> ACCUEIL</a>
        <a href="/play" title="RUN GAME"> RUN GAME</a>
        <a href="/scores">SCORES</a>
    </nav>
</center>
<!--ul id="list"></ul-->
<script>
/*$.ajax({
url: "/users"
}).done(function(data) {
console.log(data);
for (i in data){
    $('#list').append('<li>'+data[i].nom+' '+data[i].prenom+'</li>');
}
}).fail(function(req,text_status,err){
alert(text_status);
});*/
</script>