<body>
	<nav>
		<!--a class="cur" href="/">Home</a> 
		<a href="play.html">New game</a> 
		<a href="scores.html">Scores</a
	</nav>
	<!--ul id="list"></ul-->
	<script>
	/*$.ajax({
	url: "/users"
	}).done(function(data) {
	console.log(data);
	for (i in data){
		$('#list').append('<li>'+data[i].nom+' '+data[i].prenom+'</li>');
	}
	}).fail(function(req,text_status,err){
	alert(text_status);
	});*/
	
	
	</script>
	<!--div class="container">
		<!--div class="content">
			<h1>Principe du jeu</h1>
			<p>En début de partie, le joueur est matérialisé sur la cellule d’entrée du labyrinthe.</p>
			<p>Il peut se déplacer avec les touches directionnelles du clavier, mais ne peut pas franchir les murs.</p>
			<p>Lorsque le joueur parvient à la sortie, ou que le temps est écoulé, cela déclenche la fin de partie.</p>
		</div-->
		
		<!--if (!user)-->
		<!--<form class="form-signin">
			<h2 class="form-signin-heading">Please sign up</h2>
			<label for="inputEmail" class="sr-only">Email address</label>
			<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
			<label for="inputUsername" class="sr-only">User name</label>
			<input type="text" id="inputUsername" class="form-control" placeholder="User name" required>
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
			<div class="checkbox">
				<label>
					<input type="checkbox" value="remember-me"> Remember me
				</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
		</form>
		<br/>
		<form class="form-signin">
			<h2 class="form-signin-heading">... or log in</h2>
			<label for="inputEmail" class="sr-only">Email address</label>
			<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
			<div class="checkbox">
				<label>
					<input type="checkbox" value="remember-me"> Remember me
				</label>
			</div>
			<button class="btn btn-lg btn-success btn-block" type="submit">Log in</button>
		</form>
		<!--if (user)
		<hr/>
		<p> You are currently logged in as <%= user %></p>
		<a href="/logout">Log out</a>
		<hr/>
		<p>
			<button class="btn btn-lg btn-success btn-block" type="button"> Start new game </button>
			if (game)
			<p><button class="btn btn-lg btn-success btn-block" type="button"> Continue last game</button>
		</p>
		
		
	</div> <!-- /container -->